// Сетка
$gutter: 15px;
$site-width: 1010px;

// Шрифт
$font: "Montserrat", sans-serif;

// breakpoints
$sm: 320px;
$md: 768px;
$lg: 1010px;

// Colors
$white: #fff;
$yellow: #f1d830;
$black: #000;
$lightGray: #d9d9d9;
$gray: #f5f5f5;
$darkGray: #ccc;
$wetAsphalt: #4c4c4c;
$signal-black: #282828;
$agat-gray: #b3b3b3;
$canvas-gray: #4d4d4d;
