//- Базовая разметка страницы
mixin base-page(page)
    doctype html
    html(lang = "ru")
        head
            include ../meta/_head
        body
            if block
                block
            include ../components/_footer
            include ../meta/_scripts

mixin picture(webp, main_img)
    +e.PICTURE
        +e.SOURCE(srcset=webp type="image/webp").img
        +e.IMG(src=main_img type="image/jpeg").img
