-
    var skills=[
    {
        imgColor: 'html-5.svg',
        imgGray: 'html-grey.svg',
        text: 'html5'
    },
    {
        imgColor: 'icon-css-3.svg',
        imgGray: 'icon-css-3-grey.svg',
        text: 'CSS3'
    },
    {
        imgColor: 'less_logo.svg',
        imgGray: 'less_logo-grey.svg',
        text: 'less'
    },
    {
        imgColor: 'sass_Logo_Color.svg',
        imgGray: 'sass_Logo_Color-grey.svg',
        text: 'sass'
    },
    {
        imgColor: 'scss_Logo_Color.svg',
        imgGray: 'scss_Logo_Color-grey.svg',
        text: 'scss'
    },
    {
        imgColor: 'gulpjs_Logo.svg',
        imgGray: 'gulpjs_Logo-grey.svg',
        text: 'gulp'
    },
    {
        imgColor: 'pug.svg',
        imgGray: 'pug-grey.svg',
        text: 'pug'
    },
    {
        imgColor: 'bem.svg',
        imgGray: 'bem-grey.svg',
        text: 'bem'
    },
    {
        imgColor: 'bootstrap-4.svg',
        imgGray: 'bootstrap-4-grey.svg',
        text: 'bootstrap4'
    },

    {
        imgColor: 'git.svg',
        imgGray: 'git-grey.svg',
        text: 'git'
    },
    {
        imgColor: 'javascript-1.svg',
        imgGray: 'javascript-grey.svg',
        text: 'javascript'
    },
    {
        imgColor: 'wordpress.svg',
        imgGray: 'wordpress-grey.svg',
        text: 'wordpress'
    }
    ];

-
    var suggest=[
    {
        img:'stopwatch.png',
        title:'Сайт который будет жить',
        text: 'Я разрабатываю технически долговечные веб-ресурсы, которые не придется “реанимировать” время от времени. А это является\n'+
        'главной проблемой моих конкурентов.'
    },
    {
        img:'calendar.png',
        title:'Пунктуальность',
        text: 'Слово “дедлайн” напечатано большим шрифтом на стикере, который помещен на монитор моего компьютера. В связи с этим вам не придется слышать знаменитую фразу “завтра будет готово”. '
    },
    {
        img:'coding.png',
        title:'Грамотное программирование',
        text: 'Больше никаких “грязных” кодов. Уверен, что чистый, валидный, кроссбраузерный код - это больше половины успеха. Я работаю всегда на совесть, а вы - в любой момент можете проверить ход процесса. '
    },
    {
        img:'recommended.png',
        title:'Ответственность за результат',
        text: 'Сотрудничая с компанией вы не всегда можете получить тот результат, который вас устроит. Обратившись к моим услугам вы забудете, что такое “тормозит сайт”, “не открываются страницы”\n'+
        'и об остальных проблемах.'
    }
    ];

-
    var portfolio=[
    {
        webp:'rostech.webp',
        img:'rostech.png'
    },
    {
        webp:'medtech.webp',
        img:'medtech.png'
    },
    {
        webp:'magic-the-gathering.webp',
        img:'magic-the-gathering.png'
    },
    {
        webp:'oberig.webp',
        img:'oberig.png'
    }

    ];
-
    var moreSkills=[
    {
        text:'Аккуратность'
    },
    {
        text:'Бережное отношение к работе'
    },
    {
        text:'Внесение корректировок на любом этапе'
    },
    {
        text:'Быстрая обучаемость'
    },
    {
        text:'Постоянная коммуникация с клиентом'
    },
    {
        text:'Помощь в поиске рациональных решений'
    }
    ];

-
    var sliderBlock=[
    {
        text:'От лица нашей дружной команды хотел бы поблагодарить Александра за проделанную работу! Мы еще те заказчики, которым постоянно чего-то не хватает, поэтому отдельное спасибо вам за терпение! При необходимости - сразу к вам! ',
        name:'Илона, PR-менеджер '
    },
    {
        text:'Быстрые сроки выполнения, постоянная связь и индивидуальный подход! Для меня было важным наладить коммуникацию с разработчиком изначально, чего и удалось достичь с Александром! Мои наилучшие рекомендации.',
        name:'Игорь, руководитель проектов'
    },
    {
        text:'Стояла задача создать сайт, но в этот раз мы отнеслись к исполнителю строго, ведь прошлые разработчики мягко говоря не сильно постарались. Нам все очень сильно понравилось! Код проверяли независимые специалисты, и показатель просто отличный! Теперь перенаправим к вам еще наших коллег :)))',
        name:'Вадим, сотрудник IT-компании'
    }
    ]

-
    var contact = [
    {
        img:'phone-black.svg',
        text: '+38 (093) 581-07-36',
        link:'tel:+380935810736'
    },
    {
        img:'mail-black.svg',
        text:'irtyschev.developer@gmail.com',
        link:'mailto:irtyschev.developer@gmail.com'
    },
    {
        img:'telegram.svg',
        text:'@goldhaifisch',
        link:'tg://resolve?domain=goldhaifisch'
    }
    ]